@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-hero {
    background-image: url(../public/images/landing-bg.jpg);
  }

  .nav-img {
    background-image: url(../public/images/nav-img.png);
  }

  .footer-img {
    background-image: url(../public/images/landing-img.png);
  }
}
